@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");
html {
  scroll-behavior: smooth; }

body {
  font-family: 'Roboto Slab', serif;
  color: #fff;
  min-height: 75rem;
  padding-top: 3.5rem;
  background-image: linear-gradient(#000000c7, #000000c7), url(../images/bgImg.jpg);
  background-position: 50% 0; }

.navbar {
  background-color: #000000c7 !important;
  border-bottom: 1px solid gray; }
  .navbar .navbar-brand {
    font-weight: bold; }
  .navbar .navbar-nav li.nav-item a {
    color: #fff; }
    @media (max-width: 479px) {
      .navbar .navbar-nav li.nav-item a {
        width: 50%; } }
  .navbar .navbar-nav li.nav-item a:hover {
    color: gray; }

.navbar-toggler .fa-bars {
  color: #fff; }

.navbar-toggler:focus {
  outline: none; }

.profile-info {
  margin: 10em 0; }
  @media (max-width: 479px) {
    .profile-info {
      position: absolute;
      padding: 30px;
      right: 0;
      margin: 0;
      z-index: 1;
      color: #111; } }
  @media (max-width: 768px) {
    .profile-info {
      margin-bottom: 0; } }

.top-section {
  margin: 5em 0; }

.nav-item {
  text-align: center; }

.v-a-inherit {
  vertical-align: inherit; }

.hvr-before:before {
  background: #ccc6; }

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #52697e;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px; }
  #myBtn :hover {
    background-color: #555; }

/* Scroll-bar Design */
#custom-scroll::-webkit-scrollbar-track {
  height: 15px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5; }

#custom-scroll::-webkit-scrollbar {
  height: 15px;
  width: 5px;
  background-color: #F5F5F5; }

#custom-scroll::-webkit-scrollbar-thumb {
  height: 15px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555; }

#custom-scroll::-webkit-scrollbar-track-piece {
  height: 15px; }

/* Scroll-bar Design Ends */
/* Text-Animation Effect */
.web-d-effect {
  animation: floating-text 1s ease alternate infinite; }

@keyframes floating-text {
  0% {
    transform: translateY(0.1em);
    text-shadow: 0 0 0.5em rgba(255, 255, 255, 0.4), 0 0 0.2em rgba(0, 0, 0, 0.3), 0 0.3em 0.2em rgba(0, 0, 0, 0.3); }
  100% {
    text-shadow: 0 0 0.5em rgba(255, 255, 255, 0.4), 0 0 0.2em rgba(0, 0, 0, 0.3), 0 0.5em 0.5em rgba(0, 0, 0, 0.3); } }

/* Text-Animation Effect Ends */
